* {
	font-size: 1em;
}

.container {
	padding: 0.6em 1em;
	overflow: auto;
}

.header {
	position: relative;
	border-bottom: 2px solid #EEE;
	margin: 0.2em 0 0.6em 0;
	height: 80px;
}

.header h1 {
	text-align: center;
	margin: 0 0 0.4em 0;
}

.header h2,
.header p {
	position: absolute;
	bottom: 0;
	margin: 0 0 0.3em 0;
}

.header h2 {
	font-size: 1.2em;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
}

.header h2 select {
	font-size: 0.7em;
}

.header p {
	right: 0;
	margin-bottom: 0.5em;
	color: #999;
	font-size: 0.9em;
}

.content .story.long {
	max-width: 1010px;
	text-align: justify;
	font-size: 1em;
	padding-right: 10px
}

.title {
	text-align: left;
}


.content .story.big {
	border-right: 1px solid #DDD;
	padding-right: 15px;
	margin-bottom: 15px;
	float: left;
	width: 640px;
}

.content .story.small {
	float: left;
	width: 305px;
	min-height: 140px;
	padding: 0 15px;
	border-right: 1px solid #DDD;
}

.content .story a {
	display: block;
	text-decoration: none;
	color: #111;
}

.content .story .title {
	display: block;
	color: #027a9c;
	margin: 0;
	padding: 0.4em 0 0.2em 0;
	font-size: 2em;
	line-height: 1.3em;
}

#pager {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 30000;
	width: 100%;
	height: 25px;
	line-height: 0;
	background-image: url('../images/page.png');
	background-position: center top;
	background-repeat: no-repeat;
}

#pager.page-1 {
	background-position: center -30px;
}

#pager.page-2 {
	background-position: center -60px;
}

#pager.page-3 {
	background-position: center -90px;
}

#pager.page-4 {
	background-position: center -120px;
}

#pager.page-5 {
	background-position: center -150px;
}

#pager.page-6 {
	background-position: center -180px;
}

#pager.page-7 {
	background-position: center -210px;
}

#pager.page-8 {
	background-position: center -240px;
}

#pager.page-9 {
	background-position: center -270px;
}

#pager.page-10 {
	background-position: center -300px;
}

.container.story .content .title {
	color: #111;
}

.content .story.small .title {
	font-size: 1.2em;
}

.content .story .lead {
	display: block;
	margin: 0 0 1em 0;
	font-size: 1em;
}

.content .story.long .title {
	margin-bottom: 0.1em;
}

.content .story.long .lead {
	font-size: 1.2em;
	line-height: 1.4em;
	font-style: italic;
}

.content .story.long .img {
	float: right;
	width: 38%;
	margin-left: 28px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.content .story.long .img img {
	width: 100%;
	min-height: 150px;
}

.content .story.long .img .legend {
	color: #777; 
}

.content .story.long .text {
	padding-top: 10px;
	padding-bottom: 20px;
	float: left;
	width: 59%;
}

.content .story.long .text h2,
.content .story.long .text p {
	margin: 0 0 1em 0;
	line-height: 1.4em;
}

.content .story.long .text h2 {
	margin: 2em 0 0.5em 0;
}

.content .story.long .text h2:first-child {
	margin-top: 0;
}

.content .story.long .text #contentbox h4,
.content .story.long .text #contentbox p {
	margin-left: 10px;
	margin-right: 15px;
}

.text {
	font-size: 1.25em;
	line-height: 1.3em;
}


.content img {
	margin: 0;
}
