* {
	font-size: 1em;
}

.container {
	padding: 0.6em 1em;
	overflow: auto;
}

.header {
	position: relative;
	border-bottom: 2px solid #EEE;
	margin: 0.2em 0 0.6em 0;
	height: 80px;
}

.header h1 {
	text-align: center;
	margin: 0 0 0.4em 0;
}

.header h2,
.header p {
	position: absolute;
	bottom: 0;
	margin: 0 0 0.3em 0;
}

.header h2 {
	font-size: 1.2em;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
}

.header h2 select {
	font-size: 0.7em;
}

.header p {
	right: 0;
	margin-bottom: 0.5em;
	color: #666;
	font-size: 0.9em;
}

.content .story.long {
	max-width: 1010px;
	text-align: justify;
	font-size: 1em;
	padding-right: 10px
}

.title {
	text-align: left;
}


.content .story.big {
	border-right: 1px solid #DDD;
	padding-right: 15px;
	margin-bottom: 15px;
	float: left;
	width: 640px;
}

.content .story.small {
	float: left;
	width: 305px;
	min-height: 140px;
	padding: 0 15px;
	border-right: 1px solid #DDD;
}

.content .story a {
	display: block;
	text-decoration: none;
	color: #111;
}

.content .story .title {
	display: block;
	color: #027a9c;
	margin: 0;
	padding: 0.4em 0 0.2em 0;
	font-size: 2em;
	line-height: 1.3em;
}

.container.story .content .title {
	color: #111;
}

.content .story.small .title {
	font-size: 1.2em;
}

.content .story .lead {
	display: block;
	margin: 0 0 1em 0;
	font-size: 1em;
}

.content .story.long .title {
	float: right;
	width: 48%;
}

.content .story.long .lead {
	font-size: 1.4em;
	line-height: 1.4em;
	float: right;
	width: 48%;
	clear: right;
}

.content .story.long .img {
	float: left;
	width: 48%;
	margin-right: 26px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.content .story.long .img img {
	width: 100%;
}

.content .story.long .img .legend {
  color: #444; 
}

.content .story.long .text {
	clear: both;
	-moz-column-count: 2;
	-moz-column-gap: 30px;
	-webkit-column-count: 2;
	-webkit-column-gap: 30px;
	column-count: 2;
	column-gap: 30px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.content .story.long .text h2,
.content .story.long .text p {
	margin: 0 0 1em 0;
	line-height: 1.4em;
}

.content .story.long .text h2 {
	-webkit-column-break-before: avoid;
	-moz-column-break-after: avoid;
	column-break-after: avoid;
}

.text {
	font-size: 1.25em;
	line-height: 1.3em;
}


.content img {
	margin: 0;
}
